<app-header [title]="
    (uid$ | async) == (channelInfo$ | async).visitor.uid ?
    (channelInfo$ | async)?.visitor.name :
    (channelInfo$ | async)?.owner.name">
</app-header>

<ion-content #IonContent>
    <div center text-center>
        <ion-item>
            <ion-avatar slot="end">
                <img [lazyLoad]="(channelInfo$ | async)?.product.avatar" />
            </ion-avatar>
            <ion-label>
                <h4>{{(channelInfo$ | async)?.product.name}}</h4>
            </ion-label>
        </ion-item>
    </div>
    <div center text-center class="ion-padding-vertical">
        <ion-chip>
            <ion-label color="primary">Conectado {{(channelInfo$ | async)?.owner.lastConnection | amTimeAgo}}
            </ion-label>
        </ion-chip>
    </div>
    <ion-list>
        <div *ngFor="let chat of (chat$ | async)?.messages; let i = index; ">
            <ion-row *ngIf="chat.uid != (uid$ | async)">
                <ion-col class="right"
                    [ngClass]="{'clubbed':(((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid != chat.uid)|| !(chat$ | async)?.messages[i+1])}"
                    size="12">
                    <div class="imageAvatarRight">
                        <ion-label color="light">
                            <div class="chatDiv"
                                [ngClass]="{'sharper':(((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid == chat.uid) && 
                          ((chat$ | async)?.messages[i-1] && (chat$ | async)?.messages[i-1].uid == chat.uid)),
                          'sharper-top':((chat$ | async)?.messages[i-1] && (chat$ | async)?.messages[i-1].uid == chat.uid),
                          'sharper-bottom':((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid == chat.uid)}">

                                <p text-wrap padding>{{chat.message}}</p>
                            </div>
                            <div class="timedivRight"
                                *ngIf="(((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid != chat.uid) || !(chat$ | async)?.messages[i+1])">
                                <ion-text class="footer-text-size">{{ chat.timestamp | amDateFormat:'HH:mm ' }}
                                </ion-text>
                            </div>
                        </ion-label>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="chat.uid == (uid$ | async)" align-item-center>

                <ion-col class="left"
                    [ngClass]="{'clubbed':(((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid != chat.uid)|| !(chat$ | async)?.messages[i+1])}"
                    size="12">
                    <div class="imageAvatarLeft">
                        <ion-label color="light">
                            <div class="chatDiv"
                                [ngClass]="{'sharper':(((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid == chat.uid) && 
                          ((chat$ | async)?.messages[i-1] && (chat$ | async)?.messages[i-1].uid == chat.uid)),
                          'sharper-top':((chat$ | async)?.messages[i-1] && (chat$ | async)?.messages[i-1].uid == chat.uid),
                          'sharper-bottom':((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid == chat.uid)}">
                                <p text-wrap padding>{{chat.message}}
                                </p>
                            </div>

                            <div class="timediv"
                                *ngIf="(((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid != chat.uid)|| !(chat$ | async)?.messages[i+1])">
                                <ion-icon [name]="chat.status" color="rose"></ion-icon>
                                <ion-text color="rose" class="footer-text-size">
                                    {{ chat.timestamp | amDateFormat:'HH:mm ' }}
                                </ion-text>
                            </div>
                        </ion-label>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row
                *ngIf="(((chat$ | async)?.messages[i+1] && (chat$ | async)?.messages[i+1].uid != chat.uid) || !(chat$ | async)?.messages[i+1])">
                <ion-col>
                </ion-col>
            </ion-row>
            <div center text-center *ngIf="diffDates(i)">
                <ion-chip>
                    <ion-label color="secondary">{{chat.timestamp | amCalendar}}</ion-label>
                </ion-chip>
            </div>
        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-item class="footerItem">
        <ion-input (ionFocus)="focusFunction($event)" [(ngModel)]="messageInput" (keypress)="userTyping($event)"
            type="text" placeholder="Type your message here..."></ion-input>
        <ion-icon name="send" expand="icon-only" color="medium" mode="ios" slot="end" (click)=" sendMsg()"
            (mousedown)="something($event)">
        </ion-icon>
    </ion-item>
</ion-footer>