<app-header [title]="
    (uid$ | async) == (channelInfo$ | async)?.visitor.uid ?
    (channelInfo$ | async)?.owner.name :
    (channelInfo$ | async)?.visitor.name">
    <!-- <ion-avatar slot="end" [routerLink]="'/user-detail/'+
        (uid$ | async) == (channelInfo$ | async)?.visitor.uid ?
        (channelInfo$ | async)?.owner.uid :
        (channelInfo$ | async)?.visitor.uid" routerDirection="forward">
        <img [lazyLoad]="
        (uid$ | async) == (channelInfo$ | async)?.visitor.uid ?
        (channelInfo$ | async)?.owner.avatar :
        (channelInfo$ | async)?.visitor.avatar" />
    </ion-avatar> -->
    <ion-toolbar>
        <ion-item [routerLink]="'/product/detail/'+(channelInfo$ | async)?.product.uid" routerDirection="forward">
            <ion-avatar slot="start" style="height: 34px;">
                <img [lazyLoad]="(channelInfo$ | async)?.product.avatar" />
            </ion-avatar>
            <ion-label>
                <h4>{{(channelInfo$ | async)?.product.name}}</h4>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
    </ion-toolbar>
</app-header>

<ion-content #IonContent>
    <div class="ion-padding-vertical ion-text-center">
        <ion-chip>
            <ion-label color="primary">[T]Conectado {{(channelInfo$ | async)?.owner.lastConnection | amTimeAgo}}
            </ion-label>
        </ion-chip>
    </div>
    <ion-list>
        <div *ngFor="let message of (messages$ | async); let i = index; ">
            <div class="ion-text-center" *ngIf="diffDates(i)">
                <ion-chip>
                    <ion-label color="secondary">{{message.timestamp | amCalendar}}</ion-label>
                </ion-chip>
            </div>
            <ion-row *ngIf="message.uid != (uid$ | async)">
                <ion-col class="right" size="12">
                    <div class="imageAvatarRight">
                        <ion-label color="light">
                            <div class="chatDiv">

                                <p text-wrap padding>{{message.message}}</p>
                            </div>
                            <div class="timedivRight">
                                <ion-text class="footer-text-size">{{ message.timestamp | amDateFormat:'HH:mm' }}
                                </ion-text>
                            </div>
                        </ion-label>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="message.uid == (uid$ | async)" class="ion-align-item-center">
                <ion-col class="left" size="12">
                    <div class="imageAvatarLeft">
                        <ion-label color="light">
                            <div class="chatDiv">
                                <p text-wrap padding>{{message.message}}
                                </p>
                            </div>

                            <div class="timediv">
                                <ion-text color="rose" class="footer-text-size">
                                    {{ message.timestamp | amDateFormat:'HH:mm ' }}
                                </ion-text>
                            </div>
                        </ion-label>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-item class="footerItem">
        <ion-input max="500" (ionFocus)="focusFunction($event)" [(ngModel)]="messageInput" type="text"
            placeholder="[T]Type your message here..." max=""></ion-input>
        <ion-icon name="send" expand="icon-only" color="medium" mode="ios" slot="end" (click)=" sendMsg()"
            (mousedown)="something($event)">
        </ion-icon>
    </ion-item>
</ion-footer>