<app-header [title]="'change-password.header.title' | translate"></app-header>

<ion-content text-center center fullscreen>
  <div class="bottom" padding-horizontal>
    <div class="content-list">
      <form [formGroup]="resetPasswordForm" (submit)="onSubmit()">
        <ion-item color="transparent">
          <ion-label position="floating" translate>general.password</ion-label>
          <ion-input inputmode="password" minlength="6" maxlength="50" type="password" formControlName="password"
            padding-start inputmode="email" required>
          </ion-input>
        </ion-item>
        <ion-item color="transparent">
          <ion-label position="floating" translate>general.repeat-password</ion-label>
          <ion-input inputmode="password" minlength="6" maxlength="50" type="password" formControlName="confirmPassword"
            padding-start required></ion-input>
        </ion-item>
        <ion-text color="primary" *ngIf="resetPasswordForm.hasError('notSame')">
          <p translate>change-password.form.error.not-same-password</p>
        </ion-text>
        <div class="button" class="ion-padding-top">
          <ion-button fill="outline" size="large" [disabled]="!resetPasswordForm.valid" type="submit"
            expand="block" translate>general.save</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>