<app-header [title]="'[T]Contrasena olvidada'"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="emailForm" (ngSubmit)="changePassword()">
    <ion-item color="transparent">
      <ion-label position="floating">Email</ion-label>
      <ion-input autofocus="true" maxlength="50" type="email" inputmode="email" formControlName="email" required>
      </ion-input>
    </ion-item>
    <div class="ion-padding-vertical">
      <ion-button fill="outline" type="submit" size="large" [disabled]="!emailForm.valid" expand="block">
        [T]Cambiar Contrasena
      </ion-button>
    </div>
  </form>
</ion-content>