<app-header title="[T]Messages"></app-header>

<ion-content>
    <ion-list padding-top>
        <ion-item *ngFor="let chat of chatsDetail$ | async" lines="none" [routerLink]="['/chat/'+chat.uid]">
            <div class="borderBottomLine"></div>
            <div class="listSection">
                <div class="UserimgSection">
                    <ion-avatar class="chatImage" slot="start">
                        <img [lazyLoad]="chat.thumbnail">
                    </ion-avatar>
                </div>
                <div class="usernameSection" padding-start padding>
                    <h5>
                        <b>{{chat.productName}}</b>
                    </h5>
                    <p class="descText" no-margin no-padding>{{chat.message}}</p>
                </div>
            </div>
            <div slot="end" class="lastSection">
                <ion-text class="sendTime" color="medium">
                    {{chat.timestamp | date:'short' }}</ion-text>
                <ion-badge slot="end" class="userBadge" >3</ion-badge>
            </div>

        </ion-item>
    </ion-list>
</ion-content>