<app-header title="[T]Mensajes"></app-header>

<ion-content>
    <ion-list padding-top>
        <ion-item *ngFor="let channel of channels$ | async" lines="none" (click)="goToChannel(channel)">
            <div class="borderBottomLine"></div>
            <div class="listSection">
                <div class="UserimgSection">
                    <ion-avatar class="chatImage" slot="start">
                        <img [lazyLoad]="channel.product.avatar">
                    </ion-avatar>
                </div>
                <div class="usernameSection" padding-start padding>
                    <h5>
                        <b>{{channel.product.name}}</b>
                    </h5>
                    <p class="descText" no-margin no-padding>{{channel.lastMessage}}</p>
                </div>
            </div>
            <div slot="end" class="lastSection">
                <ion-text class="sendTime" color="medium">
                    {{channel.timestamp | date:'short' }}</ion-text>
                <ion-badge slot="end" class="userBadge" >3</ion-badge>
            </div>
        </ion-item>
    </ion-list>
</ion-content>