<app-header [title]="'messages.header.title' | translate"></app-header>

<ion-content>
    <ion-list class="ion-padding-top">
        <ion-item *ngFor="let channel of channels$ | async" lines="none" (click)="goToChannel(channel)">
            <div class="borderBottomLine"></div>
            <div class="listSection">
                <div class="UserimgSection">
                    <ion-avatar class="chatImage" slot="start">
                        <img [lazyLoad]="channel.product.avatar">
                    </ion-avatar>
                </div>
                <div class="usernameSection ion-padding-start ion-padding">
                    <h5>
                        <b>{{channel.product.name}}</b>
                    </h5>
                    <p class="descText ion-no-margin ion-no-padding">{{channel.lastMessage}}</p>
                </div>
            </div>
            <div slot="end" class="lastSection">
                <ion-text class="sendTime" color="medium">
                    {{channel.timestamp | amDateFormat:'D MMMM, HH:mm' }}
                </ion-text>
                <ion-avatar>
                    <img [lazyLoad]="
                        (uid$ | async) == channel.visitor.uid ?
                        channel.owner.avatar : channel.visitor.avatar" />
                </ion-avatar>
                
                <!-- <ion-badge slot="end" class="userBadge" >3</ion-badge> -->
            </div>
        </ion-item>
    </ion-list>
</ion-content>