.spinner-loading {
  margin: 10vh 50vw 0;
  transform: translateX(-50%);
  width: 65px;
  height: 65px;
}

.not-found {
  transform: translateX(-50%);
  margin: 10vh 50vw 0;
  ion-icon {
    height: 100px;
    width: 200px;
  }
}
.categories {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 76px;
  ion-chip {
    font-size: 22px;
    height: 36px;
    ion-icon {
      height: 26px;
      width: 26px;
    }
  }
}
