.spinner-loading {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.not-found {
  transform: translateX(-50%);
  margin: 10vh 50vw 0;
  ion-icon {
    height: 100px;
    width: 200px;
  }
}
.categories {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 56px;
  margin-top: 16px;
  ion-chip {
    font-size: 22px;
    height: 36px;
    ion-icon {
      height: 26px;
      width: 26px;
    }
  }
}
ion-content {
  --background: var(--ion-color-light);
}