<app-header title="Create Product"></app-header>


<ion-content>
    <div class="gallery-images ion-padding-top ion-padding-horizontal">
        <div class="product-image-wrapper">
            <div *ngIf="imagesSelected.length != 4" class="product-image-placeholder" (click)="presentSheet()">
                <ion-icon name="camera"></ion-icon>
            </div>
            <div class="container-product-image">
                <div *ngFor="let picture of imagesSelected; let i = index;" (click)="deletePicture(i)" 
                class="product-image" [style.background-image]="'url(' + picture + ')'"></div>
            </div>
        </div>
    </div>
    <form [formGroup]="myGroup" (ngSubmit)="create()">
        <ion-grid class="ion-no-padding">
            <ion-row color="primary" justify-content-center>
                <ion-col class="ion-no-padding" align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div padding>
                        <ion-item>
                            <ion-label position="floating">Nombre Product</ion-label>
                            <ion-input formControlName="name" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Precio</ion-label>
                            <ion-input formControlName="price" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Localizacion</ion-label>
                            <ion-input formControlName="localization" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Descripción</ion-label>
                            <ion-textarea formControlName="description" required></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Moneda</ion-label>
                            <ion-select formControlName="currency" okText="Okay" cancelText="Ocultar" required>
                                <ion-select-option *ngFor="let currency of currencies" [value]="currency.value">
                                    {{currency.nameEs}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Categoria</ion-label>
                            <ion-select multiple="true" okText="Okay" cancelText="Ocultar"
                                (ionChange)="categorySelected($event)" required>
                                <ion-select-option *ngFor="let category of categories" [value]="category.value"
                                    [selected]="category.selected">{{category.nameEs}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" [disabled]="!myGroup.valid" expand="block">Crear
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>