<ion-app>
  <ion-split-pane>
    <ion-menu class="sidemenu-2" side="end" type="overlay">
      <ion-content>
        <div class="content">
          <div *ngIf="(user$ | async)" class="profile-block" (click)="goToPage('profile/detail')">
            <div class="profile-image">
              <img [src]="(user$ | async).pictureURL?.pathOfImage" />
            </div>
            <ion-text color="light">{{(user$ | async)?.fullName}}</ion-text>
          </div>
          <div class="menu">
            <div class="menu-item" *ngIf="!(user$ | async)">
              <ion-button (click)="goToPage('login')" Fill="clear" class="block">
                <div class="icon">
                  <ion-icon slot="start" name="log-in"></ion-icon>
                </div>
                <div class="text">
                  Login
                </div>
              </ion-button>
            </div>
            <div class="menu-item">
              <ion-button (click)="goToPage('home')" Fill="clear" class="block">
                <div class="icon">
                  <ion-icon slot="start" name="home"></ion-icon>
                </div>
                <div class="text">
                  Home
                </div>
              </ion-button>
            </div>
            <div class="menu-item">
              <ion-button (click)="goToPage('profile/chat-list')" Fill="clear" class="block">
                <div class="icon">
                  <ion-icon slot="start" name="chatbubbles"></ion-icon>
                </div>
                <div class="text">
                  Mensajes
                </div>
              </ion-button>
            </div>
            <div class="menu-item" *ngIf="(user$ | async)">
              <ion-button (click)="goToPage('logout')" Fill="clear" class="block">
                <div class="icon">
                  <ion-icon slot="start" name="log-out"></ion-icon>
                </div>
                <div class="text">
                  Logout
                </div>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>