<app-header>
  <ion-toolbar color="primary">
    <ion-item lines="none" color="primary" class="ion-padding-horizontal">
      <ion-avatar slot="start">
        <img [lazyLoad]="(visitedUser$ | async)?.user.avatar">
      </ion-avatar>
      <ion-label>
        <h1>{{(visitedUser$ | async)?.user.name}}</h1>
        <h2>
          <ion-icon name="podium"></ion-icon> Ventas: 8, Compras: 2
        </h2>
        <h2>
          <ion-icon name="pin"></ion-icon> {{(visitedUser$ | async)?.user.willaya}}, {{(visitedUser$ | async)?.user.daira}}
        </h2>
      </ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectSegment">
      <ion-segment-button value="products" class="segmentButton" color="light">
        <ion-badge color="primary" mode="md">{{(products$ | async)?.length}}</ion-badge>
        <ion-label translate>general.products</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" color="light">
        <ion-badge color="primary" mode="md">{{(favorites$ | async)?.length}}</ion-badge>
        <ion-label translate>general.favourites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</app-header>

<ion-content fullscreen>
  <ion-grid *ngIf="selectSegment == 'products'">
    <ion-row>
      <ion-col size="6" *ngFor="let product of (visitedUser$ | async)?.products">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="selectSegment == 'favorites'">
    <ion-row>
      <ion-col size="6" *ngFor="let product of (visitedUser$ | async)?.favorites">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>