<app-header [showBackButton]="false">
    <ion-toolbar color="primary">
        <ion-searchbar slot="start" routerLink="/search" routerDirection="forward"
            [placeholder]="'search.input.placeholder' | translate" mode="ios"></ion-searchbar>
        <ion-menu-toggle slot="end" class="ion-padding-horizontal">
            <ion-icon class="ion-margin-top" size="large" name="menu"></ion-icon>
        </ion-menu-toggle>
    </ion-toolbar>
</app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let product of products$ | async">
                <app-product-card [product]="product"></app-product-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/product/create" routerDirection="forward">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>