ion-content {
  --background: linear-gradient(0deg, rgba(226, 145, 71, 1) 0%, rgba(219, 58, 52, 1) 100%);
  
  .content-list {
    padding-top: 20px;
    width: 100%;
    ion-item {
      --highlight-color-invalid: var(--ion-color-dark);
      --color: var(--ion-color-light);
      --color-activated: var(--ion-color-light);
      ion-label {
        font-size: 18px !important;
      }
      ion-input {
        font-size: 22px !important;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .bottom {
    width: 600px;
    left: calc(50% - 300px);
  }
}
