<app-header color="transparent"></app-header>
<ion-content text-center center fullscreen class="gradientBackground ion-padding">
  <div class="content-list">
    <form [formGroup]="registerForm" (submit)="onSubmit()">
      <ion-item color="transparent">
        <ion-label position="floating" translate>general.full-name</ion-label>
        <ion-input maxlength="30" type="text" formControlName="name" padding-start></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating" translate>general.email</ion-label>
        <ion-input maxlength="50" type="email" formControlName="email" padding-start inputmode="email" required>
        </ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating" translate>general.password</ion-label>
        <ion-input minlength="6" maxlength="50" type="password" formControlName="password" padding-start
          inputmode="password" required></ion-input>
      </ion-item>
      <div class="button" class="ion-padding-top">
        <ion-button fill="outline" color="light" size="large" [disabled]="!registerForm.valid" type="submit"
          expand="block" translate>general.register</ion-button>
      </div>
    </form>
  </div>
</ion-content>