<app-header title="[T]Editar Perfil"></app-header>
<ion-content>
  <form *ngIf="user$ | async" [formGroup]="myGroup" (ngSubmit)="update()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>[T]Actualiza tus datos</h3>
          </div>
          <ion-item lines="full">
            <ion-label position="floating">[T]Nombre Completo</ion-label>
            <ion-input maxlength="30" formControlName="name" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">[T]Móvil</ion-label>
            <ion-input type="tel" inputmode="tel" formControlName="phone" type="phone" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">[T]Lugar donde vives</ion-label>
            <ion-select formControlName="willaya" cancelText="Ocultar" interface="action-sheet"
              (ionChange)="onChangeWillaya($event)">
              <ion-select-option *ngFor="let willaya of willayas" [value]="willaya.value">
                {{willaya.nameEs}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">[T]Elige Daira</ion-label>
            <ion-select formControlName="daira" cancelText="Ocultar" interface="action-sheet">
              <ion-select-option *ngFor="let daira of dairas" [value]="daira.value">
                {{daira.nameEs}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="ion-padding-horizontal ion-padding-vertical">
            <ion-button fill="outline" size="large" type="submit" [disabled]="!myGroup.valid" expand="block">[T]Guardar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>