<app-header title="[T]Edit Product"></app-header>

<ion-content *ngIf="(loading$ | async)">
    <div class="gallery-images ion-padding-top ion-padding-horizontal">
        <div class="product-image-wrapper">
            <div *ngIf="gallery.length != 4" class="product-image-placeholder" (click)="presentSheet()">
                <ion-icon mode="ios" name="camera"></ion-icon>
            </div>
            <div class="container-product-image">
                <div *ngFor="let picture of gallery; let i = index;" (click)="deletePicture(i)"
                    class="product-image" [style.background-image]="'url(' + picture + ')'"></div>
            </div>
        </div>
    </div>
    <form [formGroup]="myGroup" (ngSubmit)="update()">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div padding>
                        <ion-item>
                            <ion-label position="floating">[T]Nombre</ion-label>
                            <ion-input formControlName="name" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">[T]Precio</ion-label>
                            <ion-input formControlName="price" type="text" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">[T]Descripción</ion-label>
                            <ion-textarea formControlName="description" required></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">[T]Moneda</ion-label>
                            <ion-select formControlName="currency" okText="Okay" cancelText="Ocultar">
                                <ion-select-option *ngFor="let currency of currencies" [value]="currency.value">
                                    {{currency.nameEs}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">[T]Categoria</ion-label>
                            <ion-select formControlName="category" [interfaceOptions]="customActionSheetOptions"
                                interface="action-sheet">
                                <ion-select-option *ngFor="let category of categories" [value]="category.value">
                                    <ion-icon slot="start" name="add"></ion-icon> {{category.nameEs}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label>[T]Activado</ion-label>
                            <ion-toggle formControlName="isEnabled"></ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-label>[T]Vendido</ion-label>
                            <ion-toggle formControlName="isSold"></ion-toggle>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" [disabled]="!myGroup.valid" expand="block">[T]Guardar
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>