<app-header title="Perfil">
  <ion-buttons header-right-action routerLink="/profile/edit" routerDirection="forward" slot="end" padding-end>
    Edit
  </ion-buttons>
  <ion-toolbar color="primary">
    <div class="userSection" padding-horizontal>
      <ion-avatar (click)="presentSheet()">
        <img [src]="(user$ | async)?.avatar?.downloadUrl" />
      </ion-avatar>
      <div class="userDetail">
        <ion-label class="userName">
          {{ (user$ | async)?.name }}
        </ion-label>
        <small>Telf: {{ (user$ | async)?.phone }}</small>
        <div class="info">
          <ion-text>Vendido: 2</ion-text>
          <ion-text>Publicado: 6</ion-text>
          <ion-text>Comprado: 3</ion-text>
        </div>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectSegment">
      <ion-segment-button value="products" class="segmentButton" color="light">
        <ion-label>Productos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" color="light">
        <ion-label>Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="messages" color="light">
        <ion-label>Mensajes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</app-header>

<ion-content fullscreen>
  <ion-grid *ngIf="selectSegment == 'products'">
    <ion-row>
      <ion-col size="6" *ngFor="let product of (user$ | async)?.myProducts">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="selectSegment == 'favorites'">
    <ion-row>
      <ion-col size="6" *ngFor="let product of (user$ | async)?.favorites">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>