<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-ios" text-capitalize>My Account</ion-title>
    <ion-buttons routerLink="/profile/edit" routerDirection="forward" slot="end" padding-end>
      Edit
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="userSection" padding-horizontal>
      <ion-avatar>
        <img [src]="(user$ | async)?.avatar?.downloadUrl">
      </ion-avatar>
      <div class="userDetail">
        <ion-label class="userName">
          {{(user$ | async)?.fullName}}
        </ion-label>
        <ion-text>987-123-0000</ion-text>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectSegment">
      <ion-segment-button value="products" class="segmentButton" color="light">
        <ion-label>Productos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorits" color="light">
        <ion-label>Favoritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="messages" color="light">
        <ion-label>Mensajes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>

  <!-- <my-profile *ngIf="selectSegment == 'profile'"></my-profile>
  <payment-cards *ngIf="selectSegment == 'mycard'"></payment-cards>
  <my-address *ngIf="selectSegment == 'MyAddress'"></my-address> -->

  TEXT

</ion-content>